* {
    margin: 0;
    display: border-box;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vmin;
    color: #282727;
}

#boardLayout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 5vmin;
}

.box {
    background-color: gray;
    height: 12vmin;
    width: 12vmin;
    border: 1px solid white;
    font-size: 10vmin;
    text-align: center;
    color: black;
}

@media only screen and(min-width: 800px){
.box:hover {
    transform: scale(1.05);
}
}

header {
    font-size: 4vmin;
}

.hidden {
    opacity: 0;
}



